.wrapper{
    width: 300px;
    height: 250px;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
}
.terms-button{
    text-decoration:underline;
    position: absolute;
    bottom: 8px;
    left: 10px;
    font-size: 8px;
    cursor:pointer;
}
.termsOverlay {
    width:300px;
    height:0px;
    position: absolute;
    bottom:0px;
    left:0px;
    background-color:black;
}
.termsClose{
    color:white;
    font-size:17px;
    position:absolute;
    right:20px;
    top:10px;
}
.termsContent{
    color:white;
    padding:40px;
    line-height:1.2em;
    font-size:10px
}

