.wrapper{
    width: 300px;
    height: 250px;
    border: 1px solid black;
}
.cta {
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 6px;
    left: 100px;
    color: black;
    font-size: 14px;
    top: 120px;
}

.cta-text {
    color: inherit;
    display: flex;
    align-items: center;
    margin-top: 1px;
}

.cta:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 0;
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    pointer-events: none;
    opacity: 0;
}

.cta.animate-cta:before {
    opacity: 1;
    height: 100%;
    width: 100%;
    transition: opacity 0s ease, width 0.5s ease, height 0.5s 0.5s ease;
}

.cta:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 0;
    height: 0;
    border: 1px solid black;
    border-top: 0;
    border-right: 0;
    opacity: 0;
}

.cta.animate-cta:after {
    opacity: 1;
    height: 100%;
    width: 100%;
    transition: opacity 0s 1s ease, width 0.5s 1s ease, height 0.5s 1.5s ease;
}