.dynamicAdvertContainer {
    display: none;
    position: absolute;
    cursor: pointer;
    width: 320px;
    height: 480px;
    top:0px;
    left: 0px;
    border: 1px solid black;
    box-sizing: border-box;
    background: #EEE;
    overflow: hidden;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}


/****   FONTS
********************************************/

@font-face {
    font-family: 'boldFont';
    src: url('fonts/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'regularFont';
    src: url('fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'demiBoldFont';
    src: url('fonts/AvenirNext-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}